---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="link-card">
	<a href={href}>
		<slot />
		<div>
			<h2>
				{title}
				<span>&rarr;</span>
			</h2>
			<p>
				{body}
			</p>
		</div>
	</a>
</div>
<style lang="scss">
	@import '../styles/_colors.scss';

	.link-card {
		padding: 1px;
		background-color: $brown-light;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		/* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); */
	}

	.link-card > a {
		display: flex;
		gap: 1rem;
		width: 100%;
		text-decoration: none;
		padding: 2rem 1rem;
		// border-radius: 8px;
		color: white;
		// background-color: $brown-light;
		// opacity: 0.8;
	}

	.link-card > a > img {
		margin: 1em;
	}

	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
